aside {
  height: 90%;
  font-family: "Monofett";
  font-size: 150%;
}

main {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

body {
  height: 97vh;
  background-image: url(../myImage/8.png);
  background-size: cover;


}

.topRow {
  height: 15%;
  justify-content: center;
}

header p {
  font-family: "Modak";
  font-size: 700%;
  position: relative;
  bottom: 8rem;
  color: pink;
  text-shadow: 10px 10px 20px #F46DA2;
}

.secondRow {
  height: 85%;
}

aside > div{
  height: 13%;
  margin:4%;
  background-color: lightskyblue;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

aside > div > *{
  transform: translateY(150%);
}

.flip-card {
  background-color: transparent;
  height: 33%;

  perspective: 1000px;
  flex-basis: 13%;
  margin: 1%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-front, .card-back {
  height: 70%;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  border: peachpuff solid 5px;
}
.card-front{
  transform: rotateY(180deg);
}
.card-revealed{
  transform: rotateY(180deg);
}
.card-back {
  background-image: url(../myImage/cherry-blossomswatercolor-canvas.png);
}


.js-logo {
  background-image: url(../images/js-logo.png);
}

.docker-logo {
  background-image: url(../images/docker-logo.jpg);
}

.gitHub-logo {
  background-image: url(../images/gitHub-logo.png);
}

.html-logo {
  background-image: url(../images/html-logo.png);
}

.mysql-logo {
  background-image: url(../images/mysql-logo.jpg);
}

.node-logo {
  background-image: url(../images/node-logo.png);
}

.php-logo {
  background-image: url(../images/php-logo.jpeg);
}

.react-logo {
  background-image: url(../images/react-logo.png);
}

.css-logo {
  background-image: url(../images/css-logo.png);
}



.modal {
  position: fixed;
  top: 25vh;
  bottom: 25vh;
  left: 75vh;
  right: 75vh;
  text-align: center;
  background-color: lightskyblue;
}
.modal h3 {
  transform: translateY(16vh);
  font-size: 200%;
}
.modal button {
  height: 60px;
  width: 120px;
  position: relative;
  top: 12rem;
  border-radius: 5px;
  border-top: 4px solid grey;
  border-bottom: 4px solid grey;
  border-left:1px solid grey;
  border-right:1px solid grey;
}
.hidden {
  display: none;

}
